@import './../globals.scss';

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.login-page {
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100%;
    padding: 1rem;

    .auth-container {
        width: 100%;
        max-width: px-to-rem(380);
        text-align: right;

        h1{
            @extend .type-title;
            color: var(--color-foreground);
            margin-bottom: px-to-rem(8);
        }

        h2 {
            @extend .type-subtitle;
            @extend .text-muted;
            margin-bottom: px-to-rem(12);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: px-to-rem(12);



        }
    }
}


