@import './../globals.scss';
// It's not a module file to use @extend

.dashboard-page {
    @extend .bg-primary;
    @extend .text-primary;
    display: flex;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    padding: px-to-rem(16);

    .main-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        margin-top: 0;
        @media (max-width: 768px) {
            margin-top: px-to-rem(38);
        }
        main {
            flex: 1;
            overflow-y: auto;
            border-radius: px-to-rem(24);
            border: 1px solid var(--primary-800);
            background-image: linear-gradient(to bottom right, var(--primary-900) 0%, var(--primary-1000) 50%);
        }
    }

    .dashboard-header {
        display: flex;
        align-items: center;
        justify-content: start;
        border-bottom: 1px solid var(--primary-800);
        padding: px-to-rem(16);

        .header-title {
            @extend .type-body-bold;
            @extend .text-primary;

            span {
                color: var(--color-foreground);
            }
        }
    }

    .profile-page {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);
        padding: px-to-rem(16);

        .profile-info {
            display: flex;
            flex-direction: column;
            gap: px-to-rem(16);

            .profile-info-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: px-to-rem(16);

                .profile-info-item-label {
                    @extend .type-body-bold;
                }
            }
        }
    }
}
